body {
  font-family: "Raleway", sans-serif;
}

header,
section,
footer {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

section,
footer {
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.achievement {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
}

.achievement h3 {
  margin-top: 0;
}

#universityLogo {
  width: 300px;
  margin: 10px 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #ffffff;
}

table td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.avancado {
  background-color: rgb(203, 255, 203);
}

.intermediario {
  background-color: rgb(218, 231, 255);
}

.iniciante {
  background-color: rgb(254, 232, 192);
}

.posicao-coluna {
  width: 5px;
  max-width: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nome-coluna {
  width: 100px;
  max-width: 100px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
}

